/* default classes */

.container {
    width: 100%;
    padding-right: 110px;
    padding-left: 60px;
    margin-inline: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding-right: 60px;
        padding-left: 60px;
        margin-inline: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}



@media (max-width: 767px) {

    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    /* mobile navbar  */

    .side-navbar, .section-one {
        display: none;
    }

    .mobile-navbar {
        display: none;
        background-color: black;
        padding-inline: 10px;
        margin-bottom: 100px;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        z-index: 1000;
        min-height: 100vh;
    }

    .justify {
        justify-content: center;
    }

    .primary-menu {
        text-align: left;
        transition: 0.5s ease-in-out;
    }

    .hamburger {
        display: block;
        z-index: 10;
        position: relative;
    }

    .cross .line1 {
        transform: rotate(-50deg) translate(-9px, 10px);
    }
    .cross .line2 {
        opacity: 0;
    }
    .cross .line3 {
        transform: rotate(50deg) translate(-3px, -6px);
    }

    .primary-menu a {
        display: block;
        padding: 8px 0 32px 15px;
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
        color: var(--nav-color);
    }

    .primary-menu a:hover {
        color: #FFFFFF;
    }

    .submenu {
        display: none;
        padding-bottom: 30px;
    }

    .submenu a {
        padding-bottom: 10px;
    }

    .active, .primary-menu a:hover {
        background-image: url("../images/red-active-icon.png");
        background-repeat: no-repeat;
        background-position: 0 25%;
        color: var(--white-color) !important;
    }

    .down-arrow {
        width: 10px;
        height: 6px;
        margin-left: 10px;
        margin-bottom: 3px;
    }

    .logo-image {
        width: 55px;
        padding-top: 55px;
        margin: 0;
    }

    .navbar-btns {
        display: flex;
        align-items: end;
        white-space: nowrap;
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .call {
        margin-right: 15px;
    }

    .primary-btn {
        padding: 14px 16px 14px 16px;
    }

    .open {
        display: block;
    }

    /* first section  */

    .main-content {
        width: 100%;
        padding-left: 0;
    }

    .mobile-section-one {
        text-align: center;
        /* background-image: url("../images/sec1-mob.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.3); */
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner-cont h1 {
        padding-top: 0;
        padding-bottom: 30px;
        margin-inline: auto;
        font-size: 36px;
        line-height: 43px;
        width: 100%;
    }

    .sec1-image {
        margin-left: 0;
        width: 100%;
    }

    .inner-cont p {
        font-size: 16px;
        padding-bottom: 37px;
        width: 100%;
    }

    .btn1 {
        padding: 10px 15px;
        white-space: nowrap;
    }

    /* section two  */

    .cards-container {
        flex-wrap: wrap;
        margin-inline: 10px;
    }

    .section-two {
        margin-top: 78px;
        margin-bottom: 110px;
    }

    .card {
        height: 350px;
        padding: 32px 10px 32px 10px;
        margin-inline: 14px;
    }

    .card p {
        font-size: 16px;
    }


    /* section three  */

    .section-three {
        margin-left: 0;
    }

    .card-area {
        max-width: 100%;
    }

    .slick-prev {
        left: 10px !important;
    }

    .slick-list {
        padding-left: 40px !important;
    }

    .line-content {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .content-sec3 {
        height: 320px;
    }

    .slider {
        margin-bottom: 100px !important;
    }

    /* section four  */

    .sec4-head {
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    }

    .line-content span {
        padding: 8px 24px 8px 24px;
    }

    .box {
        height: 550px;
        margin-inline: 10px;
    }

    .inner-box {
        height: 260px;
    }

    .sec4-boxes {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* fifth section  */

    .fifth-section-img {
        padding: 25px;
    }

    .fifth-section {
        padding-bottom: 0;
    }

    /* sixth section  */

    .outer-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .outer-content h3 {
        margin-inline: 0;
        max-width: 325px;
        font-size: 30px;
        line-height: 45px;
        padding-bottom: 10px;
    }

    .outer-content p, .panel p {
        font-size: 16px;
    }

    .accordion {
        font-size: 16px;
        line-height: 24px;
        margin-inline: 10px;
    }

    .sixth-section {
        padding-bottom: 100px;
    }


    /* seven section  */

    input, textarea {
        width: 100%;
    }

    .first-row {
        display: block;
        padding-bottom: 16px;
    }

    .message {
        margin-left: 0;
    }

    .submit {
        margin-top: 50px;
        margin-bottom: 90px;
    }

    input {
        padding: 16px;
    }

    .heading {
        padding-top: 66px;
        padding-bottom: 50px;
    }

    .name {
        padding-right: 0;
        padding-bottom: 16px;
    }


    /* footer section  */

    .footer-container {
        padding-top: 76px;
        padding-bottom: 50px;
    }

    .footer-logo {
        width: 55px;
    }

    .footer-row {
        padding: 0;
        margin-inline: 10px;
    }

    .text {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .social-links {
        padding-bottom: 30px;
    }

    .contact, .branding {
        padding-bottom: 30px;
    }
    
    /* sub-footer  */

    .sub-footer {
        padding-inline: 10px;
    }



    /* ----------about section ------------- */

    .about-head {
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        padding-top: 170px;
    }

    .margin {
        flex-wrap: wrap;
        margin-inline: 10px;
    }

    .box-about {
        height: 340px;
        padding: 40px 20px 0 20px;
        margin-bottom: 26px;
        margin-inline: 13px;
    }

    .box-about h4 {
        padding-bottom: 10px;
        max-width: 290px;
    }

    .box-about p {
        max-width: 300px;
    }

    .sec2-about-img {
        width: 100%;
    }

    .sect2 {
        padding-bottom: 100px;
    }

    .right {
        margin-bottom: 26px;
    }

    .screen {
        flex: 0 0 100%;
    }

    .sec4-boxes-about {
        padding-bottom: 100px;
    }


}


@media (min-width:768px) and (max-width: 1199px) {

    .mobile-navbar, .mobile-section-one {
        display: none;
    }

    .section-one, .side-navbar {
        display: block;
    }

    /* side navbar  */

    /* section one  */
    
    .inner-cont h1 {
        width: 100%;
        padding-bottom: 30px;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        padding-top: 70px;
    }

    .inner-cont p {
        width: 100%;
    }

    .inner-cont {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nowrap {
        flex-direction: column-reverse;
    }

    .sec1-image {
        margin-left: 0;
        padding-left: 20px;
    }

    .primary-btn {
        white-space: nowrap;
    }

    .sec1-cont {
        max-width: 100%;
        margin: auto;
    }

    /* section two  */

    .cards-container {
        flex-wrap: wrap;
    }

    .section-two {
        margin-top: 50px;
    }

    .card {
        margin-inline: 14px;
    }

    /* section four  */


    .inner-box {
        height: 260px;
    }

    .box {
        height: 550px;
    }

    .outer-content h3 {
        padding-right: 50px;
    }

    /* seven section  */

    input, textarea {
        width: 100%;
    }

    .pad {
        padding-top: 82px;
        padding-bottom: 90px;
        padding-inline: 60px;
    }

    input {
        padding: 16px 30px 16px 16px;
    }

    .message {
        margin-left: 0;
    }
    
    .name, .email {
        width: 100%;
    }

    input {
        width: 100%;
    }

    /* footer section  */

    .social-links {
        padding-bottom: 30px;
    }

    .contact, .branding {
        padding-bottom: 30px;
    }


    /* -------about section ------- */

    .box-about {
        height: 400px;
        padding: 40px 20px 0 20px;
        margin-bottom: 26px;
        margin-inline: 13px;
    }

    .margin {
        flex-wrap: nowrap;
    }


}


@media (min-width:1200px) {

    .mobile-navbar, .mobile-section-one {
        display: none;
    }

    /* section one  */

    .inner-cont {
        text-align: left;
    }

    #arrow, #animate-text {
        position: fixed;
        top: 80%;
        right: 100px;
        z-index: 100;
    }

    /* section two  */

    .cards-container {
        flex-wrap: nowrap;
    }
    
    .card h4 {
        white-space: normal;
    }

    /* .section-two {
        margin-top: 0;
    } */

    .card {
        margin-inline: 14px;
    }

    /* section seven  */

    .message {
        margin-left: 0;
    }

    textarea {
        width: 100%;
    }

    .pad {
        padding-top: 82px;
        padding-bottom: 90px;
        padding-inline: 213px;
    }

    .name, .email {
        width: 100%;
    }

    input {
        width: 100%;
    }

    .margin {
        flex-wrap: nowrap;
        margin-bottom: 26px;
    }

}