@import url('https://fonts.googleapis.com/css2?family=Anton&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* font-family: "Plus Jakarta Sans", sans-serif; */
/* font-family: "Anton", sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --marquee-bg: #1F1F1F;
    --marquee-text-color: #E7E5E4;
    --main-bg-color: #010101;
    --nav-color: #A8A29E;
    --white-color: #FFFFFF;
    --content-color: #D6D3D1;
    --primary-btn-bg-color: #DC2626;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", sans-serif;
    color: var(--white-color);
}

body, p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--content-color);
}

a {
    text-decoration: none;
    color: var(--nav-color);
    display: inline-block;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--white-color);
}

ul {
    list-style: none;
}



/* top banner */

.marquee {
    padding-top: 12px;
    padding-bottom: 15px;
    background: var(--marquee-bg);
    color: var(--marquee-text-color);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    min-height: 45px;
    z-index: 1;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    margin-right: 24px;
    white-space: nowrap;
    animation: move-rtl 5s linear infinite;
}

.content img {
    margin-right: 20px;
}

.content span {
    margin-left: 10px;
}

.content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

@keyframes move-rtl { 
    0% { 
      transform: translateX(0);
    } 
    100% { 
      transform: translateX(-100%);
    } 
}




/* side navbar  */

.flex-content {
    display: flex;
}

.side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    padding-top: 80px;
    overflow: hidden;
    border-right: 1px solid #686868;
}

.logo-image {
    width: 115px;
    display: block;
    margin: 0 auto;
    padding-bottom: 49px;
}

.side-navbar a {
    display: block;
    padding: 0 9px 32px 65px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: var(--nav-color);
}

.side-navbar a:hover {
    color: #FFFFFF;
}

.submenu {
    display: none;
    padding-bottom: 30px;
}

.submenu a {
    padding-bottom: 10px;
}

.active, .side-navbar a:hover {
    background-image: url("../images/red-active-icon.png");
    background-repeat: no-repeat;
    background-position: 18% 15%;
    color: var(--white-color) !important;
}

.down-arrow {
    width: 10px;
    height: 6px;
    margin-left: 10px;
    margin-bottom: 3px;
}


/* first section  */

.main-content {
    padding-left: 250px;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

.content-cont {
    min-height: 816px;
}

.inner-cont h1 {
    max-width: 100%;
    padding-top: 231px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    width: 650px;
    color: var(--white-color);
}

.inner-cont p {
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--content-color);
    padding-bottom: 30px;
    width: 575px;
}

.sec1-image {
    margin-left: 100px;
    width: 100%;
}

.small-content {
    display: flex;
    align-items: center;
    padding-top: 70px;
    float: right;
    padding-bottom: 30px;
}

.primary-btn {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 24px 14px 24px;
    border-radius: 50px;
    color: var(--white-color);
    position: relative;
    display: inline-block;
    background-color: var(--primary-btn-bg-color);
    transition: all .1s ease;
}

.arrow {
    width: 11px;
    height: 11px;
}

.primary-btn:hover .arrow {
    transform: translateX(3px);
    width: 15px;
    height: 15px;
}

.primary-btn:hover {
    background-color: #a00000;
}

.number {
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--content-color);
    margin-right: 20px;
}

#arrow {
    position: fixed;
    top: 80%;
    right: 30px;
    z-index: 100;
}

#animate-text {
    position: fixed;
    top: 80%;
    right: 30px;
    z-index: 100;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.line1, .line2, .line3 {
    background: var(--white-color);
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.38rem;
    transition: all 0.3s ease;
}

.hamburger {
    cursor: pointer;
    display: none;
}



/* section two  */

.section-two {
    margin-bottom: 120px;
    margin-top: -160px;
    min-height: 350px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin-bottom: 28px;
    margin-right: 28px;
}

.card {
    border: 1px solid #78716C;
    border-radius: 16px;
    text-align: center;
    height: 350px;
    padding-inline: 20px;
}

.card h4 {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.9px;
    color: var(--white-color);
    padding-bottom: 8px;
    white-space: nowrap;
}

.card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 286px;
    padding-bottom: 32px;
}

.section2-image {
    padding-top: 32px;
    padding-bottom: 20px;
    width: 140px;
    height: 140px;
}

/* third section  */

.content-sec3 {
    height: 450px;
    background-image: url("../images/sec3-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.line-content {
    padding-top: 131px;
    padding-bottom: 120px;
}

.line-content span {
    border-radius: 64px;
    padding: 12px 24px 12px 24px;
    background: var(--white-color);
    text-transform: uppercase;
    color: black;
    margin-left: 10%;
}

.line-content img {
    padding-right: 8px;
}

hr {
    margin-bottom: -10px;
    border: 2px solid #857c7c;
}

.slider {
    margin-bottom: 150px !important;
}

.slick-slide img {
    margin: 0 auto;
    max-width: 100%;
    opacity: 0.5;
    transition: opacity 0.1s ease-in;
}

.slick-slide img:hover {
    opacity: 1;
}

.slick-list {
    display: flex;
    justify-content: space-between;
}


/* section four  */

.line-content-sec4 {
    padding-top: 174px;
    padding-bottom: 56px;
}

.line-content span {
    border-radius: 64px;
    padding: 12px 24px 12px 24px;
    background: var(--white-color);
    text-transform: uppercase;
    color: black;
    margin-left: 10%;
}

.line-content img {
    padding-right: 8px;
}

.sec4-head {
    font-size: 40px;
    line-height: 60px;
}

.sec4-boxes {
    padding-top: 53px;
    padding-bottom: 120px;
}

.box {
    height: 426px;
    padding: 30px 32px 30px 32px;
    border-radius: 16px;
}

.sec4-image {
    padding-bottom: 24px;
}

.box h4 {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
}

.box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--nav-color);
}

.grey {
    background:#191919;
}

.btn2 {
    border: 1px solid var(--white-color);
    background-color: transparent;
    margin-top: 24px;
}

.btn2:hover {
    background-color: #acacac;
    color: var(--main-bg-color);
}

.inner-box {
    max-width: 450px;
    height: 160px;
}

/* fifth section  */

.fifth-section-img {
    background-image: url("../images/sec5-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px 50px 22px 50px;
    border-radius: 20px;
}

.sec5 {
    display: flex;
    justify-content: space-between;
}

.fifth-section {
    padding-bottom: 120px;
}

.line-content-sec5 {
    padding-top: 22px;
    padding-bottom: 78px;
}

/* section sixth  */

.sixth-section {
    min-height: 680px;
    padding-bottom: 120px;
}

.outer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 65px;
}

.outer-content h3 {
    font-size: 40px;
    line-height: 60px;
    max-width: 247px;
}

.outer-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white-color);
    max-width: 565px;
    opacity: 0.6;
}

.accordion {
    background-color: #71717133;
    color: var(--white-color);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    padding: 20px 32px 20px 32px;
    border-radius: 16px;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 10px;
}
  
.active-acc, .accordion:hover {
    background-color: #71717133;
}
  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active-acc:after {
    content: "\2212";
}
  
.panel {
    padding: 0 32px;
    background-color: var(--main-bg-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white-color);
    max-width: 815px;
    padding-bottom: 20px;
    opacity: 0.5;
}

/* seven section  */

.section-image {
    background-image: url("../images/sec7-img-bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-seven {
    min-height: 710px;
}

.outer-div {
    padding: 82px 214px 90px 213px;
    max-width: 1015px;
    margin-inline: auto;
}

.heading {
    padding-bottom: 36px;
}

.heading h2 {
    text-align: center;
    max-width: 430px;
    letter-spacing: 1px;
    margin-inline: auto;
}

.forms {
    font-family: "Plus Jakarta Sans";
}

label {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

input, textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background: transparent !important;
    border-radius: 5px;
    border: 1px solid #4B4B4B;
    padding: 16px 200px 16px 16px;
    color: #f5f5f5;
    opacity: 0.7;
    margin-top: 8px;
    overflow: hidden;
}

.forms {
    text-align: center;
}

.first-row {
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 28px;
}

textarea {
    padding: 16px 24px 113px 16px ;
}

.message {
    margin-left: -120px;
}

.name, .email, .message {
    text-align: left;
}

.name {
    padding-right: 55px;
}

/* footer section  */


.footer-container {
    height: 100%;
    font-family: "Plus Jakarta Sans";
    letter-spacing: 1px;
}

.footer {
    background: var(--main-bg-color);
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 72px 33px 30px 31px;
}

.footer-col ul li a:hover {
    color: var(--white-color);
    opacity: 1;
}

.footer-col .social-links a {
    display: inline-block;
    height: 24px;
    width: 24px;
    color: var(--content-color);
    margin: 0 18px 0 0;
}

.spacer {
    padding-top: 16px;
}

.text {
    max-width: 438px;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    padding-bottom: 17px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-links a {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.social-links a:hover {
    opacity: 1;
    color: white;
}

.footer-logo {
    margin-top: -41px;
    padding-bottom: 19px;
}

.sub-head {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white-color);
    padding-bottom: 14px;
}

.card-para {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 6px;
}


/* sub footer  */

.sub-footer {
    width: 100%;
    height: 85px;
}

.sub-footer {
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4B4B4B;
}

.sub-footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white-color);
    opacity: 0.7;
}





/* ----about section css ----- */

/* section one  */
.about {
    height: 2444px;
}

.content-about {
    min-height: 550px;
}

.sec1-about, .sect2 {
    padding-bottom: 120px;
}

.about-head {
    padding-bottom: 50px;
    font-size: 40px;
    line-height: 60px;  
}

/* section two  */
.about-sec2-content {
    padding: 40px 30px 40px 30px;
    border: 1px solid #78716C;
    border-radius: 16px;
}

.about-sec2-content h4 {
    font-size: 24px;
    line-height: 34px;  
    padding-bottom: 12px;
}

.about-sec2-content p, .box-about p {
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.about-row {
    align-items: center;
}

.abt {
    padding-top: 20px;
    padding-bottom: 85px;
}

.about-sec2-img {
    padding: 20px;
}

.sec2-about-img {
    width: 100%;
}

/* section four  */
.box-about {
    height: 300px;
    border-radius: 16px;
    padding: 80px 15px 80px 15px;
}

.border {
    border: 1px solid var(--white-color);
}

.sec4-boxes-about {
    padding-bottom: 120px;
}

.box-about h4 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
}

.margin {
    flex-wrap: nowrap;
    margin-bottom: 26px;
}

.right {
    margin-right: 26px;
}

.zero {
    margin-bottom: 0;
}